/*  ========================================
    tokens.css 
    ======================================== */

:root {
  /* Base Colors */
  --red-400: #ff5c5c;
  --blue-950: #242942;
  --blue-100: #eef3f6;
  --white: #fff;
}
