/*  ========================================
    header.css 
    ======================================== */

.header {
  padding-block: var(--space-md);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  inline-size: 1.5rem;
}

.header__nav {
  position: relative; /* for nav list */
}

/* -----------------
  Media queries 
  -----------------*/
@media (min-width: 48rem) {
  .header {
    padding-block: var(--space-xl);
  }

  .header__container {
    gap: var(--space-xxl);
  }

  .header__nav {
    display: flex;
    align-items: flex-end;
  }
}

/* Large screens adjustments */
@media (min-width: 75rem) {
  .header {
    padding-block: var(--space-xl);
  }
}
